<div class="card-container">
    <app-stepper [questions]="steps()" (stepUpdate)="onStepUpdate($event)" (completed)="onStepperComplete($event)"></app-stepper>
</div>

<div class="modal-container" *ngIf="showCompletionModal">
    <div class="modal-content">
        <h2>Congratulations!</h2>
        <p>You have completed the D6 module.</p>

        <p>Would you like to make this a public Post?</p>
        <button (click)="setPostComplete(true)">Yes</button>
        <button (click)="setPostComplete(false)">No</button>
    </div>
</div>
<div class="modal-container" *ngIf="loading()">
    <div class="modal-content">
        <h2>Loading...</h2>
        <p>The AI is analyzing your response. Once complete, you will have a review of the prompt answer, and the option to revise and review again.</p>
        <app-loading [variant]="'bar'"></app-loading>
    </div>
</div>