
<div class="card-container">
    <div class="heading-row text-center">
        <h2>Daily Reflections</h2>
        <button (click)="toggleNav()"><span class="icon">☰</span></button>
    </div>
    <div class="nav-row">
        <div class="nav-content" *ngIf="showNav()">
            <button *ngFor="let item of navItems" (click)="navigateTo(item.route)" class="nav-btn">
                <span class="icon">{{ item.icon }}</span>
                <span>{{ item.label }}</span>
            </button>
        </div>
    </div>
</div>